@model Blog
    <div>
        <h3>@Model.Id</h3>
        <h3>@Model.Title</h3>
        <h3>@Model.Content</h3>
        <h3>@Model.CreateDate</h3>
        <h3>@Model.Status</h3>

        <a asp-action="Ubah" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Hapus" asp-route-id="@Model.Id">Delete</a>
    </div>