@{ 
    Layout = "_AdminLayout";
}

<h1>Ini controller mobil</h1>

<hr />

<h1>@ViewBag.mobils.IDRegistrasi</h1>
<h1>@ViewBag.mobils.Merk</h1>
<h1>@ViewBag.mobils.Tipe</h1>
<h1>@ViewBag.mobils.Varian</h1>

@*@foreach (var data in ViewBag.mobils)
{
    <h2>@data.IDRegistrasi</h2>
    <h2>@data.Tipe</h2>
    <h2>@data.Merk</h2>
    <h2>@data.Varian</h2>
    <hr />
}*@